apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: wifi-stats-ingress
  namespace: default
  annotations:
    # Keycloak OAuth authentication (commented out for initial testing)
    # nginx.ingress.kubernetes.io/auth-url: "http://keycloak-svc.default.svc.cluster.local:8080/realms/master/protocol/openid-connect/auth"
    # nginx.ingress.kubernetes.io/auth-signin: "http://keycloak.local/realms/master/protocol/openid-connect/auth?client_id=wifi-stats-app&redirect_uri=$scheme://$http_host$request_uri&response_type=code&scope=openid"
    # nginx.ingress.kubernetes.io/auth-response-headers: "X-Auth-Request-User, X-Auth-Request-Email, X-Auth-Request-Access-Token"
    
    # Session affinity
    nginx.ingress.kubernetes.io/affinity: "cookie"
    nginx.ingress.kubernetes.io/session-cookie-name: "wifi-stats-session"
    nginx.ingress.kubernetes.io/session-cookie-path: "/"
    nginx.ingress.kubernetes.io/session-cookie-max-age: "3600"
spec:
  ingressClassName: nginx
  rules:
  - host: wifi-stats.local
    http:
      paths:
      # Frontend - serve React static files from nginx container
      - path: /
        pathType: Prefix
        backend:
          service:
            name: wifi-stats-frontend-svc
            port:
              number: 80
