
apiVersion: flink.apache.org/v1beta1
kind: FlinkDeployment
metadata:
  name: {{ .Values.flinkJob.name }}
spec:
  image: {{ .Values.flinkJob.image.repository }}:{{ .Values.flinkJob.image.tag }}
  imagePullPolicy: {{ .Values.flinkJob.image.pullPolicy }}
  flinkVersion: {{ .Values.flinkJob.flinkVersion }}
  flinkConfiguration:
    taskmanager.numberOfTaskSlots: "2"
  serviceAccount: {{ .Values.flinkJob.serviceAccount.name }}
  jobManager:
    resource:
      memory: {{ .Values.flinkJob.jobManager.memory | quote }}
      cpu: {{ .Values.flinkJob.jobManager.cpu }}
  taskManager:
    resource:
      memory: {{ .Values.flinkJob.taskManager.memory | quote }}
      cpu: {{ .Values.flinkJob.taskManager.cpu }}
  job:
    jarURI: {{ .Values.flinkJob.job.jarURI }}
    entryClass: {{ .Values.flinkJob.job.entryClass }}
    args:
{{- range .Values.flinkJob.job.args }}
      - {{ . | quote }}
{{- end }}
    parallelism: {{ .Values.flinkJob.job.parallelism }}
    upgradeMode: {{ .Values.flinkJob.job.upgradeMode }}
  podTemplate:
    spec:
      containers:
        - name: flink-main-container
          volumeMounts:
            - name: flink-sql-config
              mountPath: /opt/flink/sql
      volumes:
        - name: flink-sql-config
          configMap:
            name: flink-sql-job-config

